# Canonical name untuk soe1hom-arch — merge semua akun bot & alt email
soe1hom-arch <soe1hom-arch@users.noreply.github.com> soe1hom-arch <soe1hom-arch@users.noreply.github.com>
soe1hom-arch <soe1hom-arch@users.noreply.github.com> LuckyMan <soe1hom@gmail.com>
soe1hom-arch <soe1hom-arch@users.noreply.github.com> soe1hom-arch <wandi@afft.dev>
soe1hom-arch <soe1hom-arch@users.noreply.github.com> soe1hom-arch <soe1hom@archlinux.moe>
soe1hom-arch <soe1hom-arch@users.noreply.github.com> AFFT Builder <afft@builder.dev>
soe1hom-arch <soe1hom-arch@users.noreply.github.com> AFFT Deploy <deploy@afft.app>
